<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/normalize.css" />
        <link rel="stylesheet" href="/static/skeleton.css" />
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Budget</title>
    </head>
<body>
    <div class="hide">
    <% let bankAcct = []; %>
        <% let currentBalance=0 %>
        <% for(let lineItem in allLineItems) {%>
            <%=currentBalance= (allLineItems[lineItem].amount) %>
            <%= parseInt(currentBalance) %> 
            <%bankAcct.push(parseInt(currentBalance)) %>

        <% }  %>
        <% let sum = 0%>
        <%for (let i = 0; i < bankAcct.length; i++) {%>
        <%sum += bankAcct[i] %>
      <%}%> 
    </div>

    <h1>Your Expenses This Month</h1>
    <h4>Your current balance: $<%= sum %> </h4>
     <a href="/budget/new"> <button> Create a New Budget Line item</button></a>
     
     <table class="table">
        <tr>
            <th class="header">Date</th>
            <th class="header">Expense From</th>
            <th class="header"> Description </th>
            <th class="header"> Amount </th>
            <th class="header"> View Expense </th>
        </tr>
    <ul>
      <% for(let lineItem in allLineItems) { %>
        <tr>
            <th><%=allLineItems[lineItem].date %></th>
            <th><%=allLineItems[lineItem].from %></th>
            <th> <%=allLineItems[lineItem].name %> </th>
            <th> $<%=allLineItems[lineItem].amount %> </th>
            <th> <a href="/budget/<%=lineItem%>">
                <button>View Expense</button></a> </th>
        </tr>
      <% } %>
    </ul>
    </table>

</body>
</html>


